@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100,900&display=swap');
:root {
    --Bailey-Service: #D3D3D3;
}
nav{ 
 position: absolute;
 width: 100%;
background: url("../images/logo.png");
background: cover;
  width: auto;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

 nav ul {
  list-style: none; 
 margin-left: 0;
 padding: 0;
 display: flex;



}
h1 {font-size: 6rem;

}
h3{font-size: 4rem;
    background: cover;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   Color: red;
   text-decoration-color:ghostwhite;
}


section.headpage {
   width: 100vw;
   height: 100vh;
   background: url("../images/motor.jpg" ) var(--Bailey-Service) no-repeat;
   background: cover;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   Color: red;
   align-items: center;

 }
 Section.headpage a{

    font-weight: bold;
    padding: 1.6rem 3rem;
    background: yellow;
    text-decoration: none;
    border-radius: 0.5rem;
  }
 p { font-family: 'Poppins', sans-serif; font-size: 3rem;
  }
  section.headpage a{ font-size: 3rem;  }  
 
section.contact p { 

 text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: 6rem;
   background-color: yellow;
   

    
}
section.contact a {
   width: 100vw;
   height: 100vh;
   background: no-repeat url("../images/mediaelctric.jpg") center;
   background: cover;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   Color: white;
   align-items: center;
   font-family: 'Poppins', sans-serif; 
   font-size: 5rem; 
    text-align: center; 
    font-weight: bold;
    padding: 1.6rem 3rem;
    text-decoration: none;
    border-radius: 0.5rem   
}

section.service a {

 text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: center;
   Color: red;
   align-items: right;
    font-family: 'Poppins', sans-serif; font-size: 2rem;

     }


section.meet-team {
 width: 100vw;
   height: 100vh;
   background: no-repeat url("../images/aoa.jpg") center ; 
}

section.meet-team a { text-align: right;
   display: flex;
   flex-direction: column;
   justify-content: center;
   Color: red;
   align-items: left;
    font-family: 'Poppins', sans-serif; font-size: 5rem; 
    font-weight: bold;
    padding: 1.6rem 3rem;
    text-decoration: none;
    border-radius: 0.5rem 

 }
section.meet-team p{  

   text-align: top;
   display: flex;
   flex-direction: column;
   justify-content: center;
   Color: red;
    font-family: 'Poppins', sans-serif; font-size: 5rem; 
    }
nav ul li:last-child {
 margin-right: auto; }

nav ul li:first-child {
margin-right: auto; 
 } 

---Media---

@media screen and (max-width: 900px) { 
 section.headpage  h1 {
    font-size: 6rem;
     line height: 4rem
}

    nav { 
    font-size: .8rem;
     line height: .8rem }

     section.headpage { 
        font-size: 2rem;
        line height: 2rem } 

    section.contact p{
     font-size: 1.5rem;
     line height: 1.5rem } }

 section.contact a { 
      font-size: 1.5rem;
     line height: 1.5rem}

section.service a {
     font-size: 1.5rem;
     line height: 1.5rem

}
